@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

//Colors
$white: #f4f4f4;
$blue: #0080ff;
$textShadow: #03a6ff;

//Fonts
$headerFont: 'Julius Sans One', sans-serif;

body{
    margin-top: 12px;
    background: $white;
    color: $blue;
    background: url('../img/clouds.jpg');
}

h1{
    font-family: $headerFont;
    font-size: 100px;
    text-shadow: 1px 1px $textShadow;
}

footer{
    color:  $white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4px;
}